language: python
python:
    - "2.7"

install:
    - "pip install -r requirements.txt"

script: 
    - nosetests -c .noserc autocertkit/tests/ acktools/ -v
    - tools/checkpep8.sh

after_success:
    - coveralls
