[Unit]
Description=Service to run auto cert kit test
Requires=xapi.service
After=xapi.service

[Service]
Type=simple
ExecStartPre=-/opt/xensource/bin/xapi-wait-init-complete 300
ExecStart=/usr/bin/python3 /opt/xensource/packages/files/auto-cert-kit/test_runner.py -t /opt/xensource/packages/files/auto-cert-kit/test_run.conf
RemainAfterExit=yes
TimeoutStartSec=900
SyslogIdentifier=auto-cert-kit

[Install]
WantedBy=multi-user.target
