#Interface = Network ID,VLANs
eth0 = 0,[200,204,240],vf_driver_name,vf_driver_pkg.rpm
eth1 = 1,[200,124],vf_driver_name,
eth2 = 0,[204,240],,vf_driver_pkg.rpm
eth3 = 1,[200],,

# For static addressing, each network/vlan combination needs to be
# explicitly stated, otherwise we assume DHCP is available. The syntax can
# be seen in the example below. For the 'non-vlan' case, the vlan Id should
# be 0, i.e.:
#	static_0_0 = 192.168.0.2,192.168.0.10,255.255.255.0,192.168.0.1

# static_<network _id>_<vlan_id> = <ip_start>,<ip_end>,<netmask>,<gw>

# In case, management network is not having DHCP and management interface
# is not specified above ( management interface is not being certified),
# It is mandatory to specify static addressing, i.e.:
#  static_management = 192.168.0.2,192.168.0.10,255.255.255.0,192.168.0.1

# Setting static addressing for VLAN 200 on Network ID 0:
static_0_200 = 192.168.0.2,192.168.0.10,255.255.255.0,192.168.0.1

